<%- include('partials/header') %>
<div class="toolbar">
    <a href="/"><button class="btn btn-blue">New paste</button></a>
    <a href="/raw/<%= id %>"><button class="btn">View raw</button></a>
    <div class="toolbar-right">
        <p>
            <a href="https://github.com/simoonoravec/textstash" target="_blank"><img class="github-logo" src="/img/github.png" alt="GitHub Logo"></a>
            <% if (delTime != false) { %>
                <span class="deletion-notice">This paste will expire in&nbsp;<b><%= delTime %></b></span>
            <% } %>
        </p>
    </div>

</div>
<div class="textarea viewbox">
    <pre><code><%- text %></code></pre>
</div>
<%- include('partials/footer') %>