<%- include('partials/header') %>
<div class="toolbar">
    <a href="/"><button class="btn btn-blue">New paste</button></a>
    <a href="/raw/<%= id %>"><button class="btn">View raw</button></a>
    <button class="btn" id="download">Download</button>
    <div class="toolbar-right">
        <p>
            <a href="https://github.com/simoonoravec/textstash" target="_blank"><img class="github-logo" src="/img/github.png" alt="GitHub Logo"></a>
            <% if (delTime != false) { %>
                <span class="deletion-notice">This paste will expire in&nbsp;<b><%= delTime %></b></span>
            <% } %>
        </p>
    </div>

</div>
<div class="textarea viewbox">
    <pre><code><%- text %></code></pre>
</div>
<script>
    $("#download").on("click", function() {
        downloadText('<%= id %>.txt', atob('<%= textB64 %>'));
    });

    function downloadText(filename, text) {
        var blob = new Blob([text], {type: 'text/plain'});
        var url = window.URL.createObjectURL(blob);

        var link = $('<a>', {
        href: url,
        download: filename
        }).appendTo('body');

        link[0].click();

        link.remove();
        window.URL.revokeObjectURL(url);
        resolve();
    }
</script>
<%- include('partials/footer') %>